@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

textarea:focus-visible,
input:focus-visible {
    outline-width: 0;
}

div.blog-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .nav-left {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-left-profile {
            width: 80%;
            margin: 50px auto 0;
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 10% 1% 5%;
            box-sizing: border-box;
            text-align: center;

            .profile-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid #aaa;
                margin: 0 auto;
                position: relative;
                overflow: hidden;

                .image {
                    width: 100%;
                    height: 100%;
                }
            }

            .name {
                font-size: 1.2rem;
                font-weight: bold;
                margin-block-end: 0.3rem;
            }
            .email {
                font-size: 0.8rem;
                color: #aaa;
                margin-block-start: unset;
            }

            .category-menu {
                display: none;
            }
        }

        .nav-left-newPost {
            width: 80%;
            margin: 25px auto 0;
            padding: 5% 1%;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #333;
            box-sizing: border-box;
            background-color: #eee;

            &:hover {
                background-color: #cdcdcd;
            }
        }

        .nav-left-list {
            position: relative;
            width: 80%;
            margin: 25px auto 0;
            border: 1px solid #ccc;
            background-color: #fff;
            > div {
                width: 100%;
                box-sizing: border-box;
                border-bottom: 1px solid #dfdfdf;

                ul {
                    list-style: none;
                    padding: unset;
                    padding-left: 15%;
                    margin: unset;
                    margin: 0.7rem auto;

                    li {
                        font-size: 0.8rem;
                        color: #333;
                        margin: 0.8rem 0;
                        a {
                            display: flex;
                            align-items: center;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                        &.sub-title {
                            font-weight: bold;
                            text-decoration: unset;
                            margin: 1rem 0 1.3rem;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding-right: 15%;
                        }
                    }
                }

                &:last-child {
                    border-bottom: unset;
                }
            }
        }
    }
    .blog-content-wrap {
        position: relative;
        width: 75%;
        margin-top: 50px;

        .blog-content {
            width: 90%;
            margin: 0 auto;
            position: relative;

            .category-title-wrap {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                a {
                    display: none;
                }
            }

            ul.post-list {
                list-style-type: none;
                padding: unset;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 2.5rem;

                .no-result {
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    text-align: center;
                    padding: 2rem;
                    font-size: 1.2rem;

                    p {
                        margin-block-start: 0.5rem;
                        margin-block-end: 0.5rem;
                    }

                    a {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }

                li {
                    width: 48%;

                    .post {
                        width: 100%;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        padding: 1rem;
                        box-sizing: border-box;
                        margin-bottom: 2rem;

                        .post-title {
                            font-size: 1.4rem;
                            a {
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .post-info {
                            display: flex;
                            flex-direction: row;
                            font-size: 0.8rem;
                            margin-bottom: 1rem;

                            div {
                                display: flex;
                                align-items: center;
                                margin-right: 1rem;

                                &:last-child {
                                    margin-right: unset;
                                }

                                span {
                                    margin-left: 0.2rem;
                                }
                            }
                        }

                        .post-description {
                            font-size: 0.9rem;
                            a {
                                color: #777;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            .pages {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: unset;

                li {
                    font-size: 0.95rem;
                    color: #333;
                    margin: 0 0.3rem;

                    &.active,
                    &:hover {
                        text-decoration: underline;
                    }

                    &.active {
                        color: #000;
                        font-weight: bold;
                    }
                }
            }

            .post-detail {
                width: 100%;
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 3rem;
                box-sizing: border-box;

                .post-top-area {
                    position: relative;

                    .post-Category {
                        font-size: 1.2rem;
                        color: #aaa;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .post-title {
                        font-size: 2rem;
                        margin: 1rem 0 2rem;
                    }

                    .post-info {
                        margin-bottom: 1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        .post-profile {
                            display: flex;
                            flex-direction: row;

                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 25px;
                                margin-right: 1rem;
                            }

                            .post-profile-right {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;

                                .post-name {
                                    font-size: 1.1rem;
                                    margin-right: 1rem;
                                }
                                .post-created {
                                    color: #777;
                                }
                            }
                        }

                        .post-menu {
                            position: relative;

                            .post-menu-list {
                                position: absolute;
                                right: 0;
                                border: 1px solid #aaa;
                                background-color: #fff;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 1rem;
                                z-index: 10;
                                min-width: max-content;

                                a {
                                    margin-bottom: 0.5rem;
                                    &:last-child {
                                        margin-bottom: unset;
                                    }
                                }

                                &.hidden {
                                    display: none;
                                }
                            }
                        }
                    }
                    &::after {
                        content: "";
                        border-bottom: 1px solid #ccc;
                        position: absolute;
                        right: 0;
                        left: 0;
                    }
                }

                .post-description {
                    margin-top: 3rem;
                    font-size: 1.2rem;
                }

                .post-keywords {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    align-items: center;

                    .post-keyword {
                        padding: 0.3rem;
                        border-radius: 0.3rem;
                        background-color: #eaeaea;
                        margin-right: 0.5rem;
                    }
                }

                .post-reply-info {
                    .post-reaction {
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        padding-bottom: 1rem;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-bottom: 1px solid #ccc;
                        }

                        .post-like {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 0.85rem;
                            margin-right: 1rem;

                            button {
                                background: unset;
                                padding: unset;
                                border: unset;
                            }

                            .icon-like {
                                color: red;
                                margin-right: 0.3rem;
                            }
                            .number-likes {
                                margin-left: 0.2rem;
                                font-weight: bold;
                            }
                        }
                        .post-reply {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 0.85rem;

                            .icon-reply {
                                margin-right: 0.3rem;
                            }
                            .number-reply {
                                margin-left: 0.2rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .post-replys-wrap {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .post-reply-list-title {
                        font-size: 1.15rem;
                        font-weight: bold;
                        width: 100%;
                    }

                    .post-reply-input-wrap {
                        width: 100%;
                        border: 2px solid #aaa;
                        border-radius: 0.3rem;
                        padding: 0.7rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        box-sizing: border-box;

                        .post-reply-input-content {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-bottom: 0.7rem;

                            .post-reply-input-name {
                                font-weight: bold;
                                font-size: 0.9rem;
                            }

                            .post-reply-length {
                                font-size: 0.8rem;
                                color: #777;

                                &.none {
                                    display: none;
                                }

                                .toolong {
                                    color: red;
                                    font-weight: bold;
                                }
                            }

                            textarea.post-reply-input {
                                font-size: 0.9rem;
                                border: unset;
                                border-radius: unset;
                                margin: unset;
                                width: 100%;
                                padding: unset;
                                height: unset;
                                resize: none;
                                overflow-wrap: break-word;
                            }
                        }

                        .post-reply-submit {
                            font-size: 0.9rem;
                            font-weight: bold;
                            color: #aaa;
                            padding: 0.5rem;
                            border-radius: 0.5rem;
                            &.active {
                                background-color: #ddd;
                                color: #000;
                            }
                        }

                        &.go-login {
                            align-items: center;

                            p {
                                margin-block-end: 0.5rem;
                            }

                            a {
                                font-size: 0.85rem;
                                font-weight: bold;
                                margin-bottom: 0.3rem;
                            }
                        }
                    }
                    .post-reply-list {
                        width: 100%;

                        > div {
                            .post-reply-wrap {
                                border-bottom: 1px solid #ccc;
                            }
                            &:last-child {
                                .post-reply-wrap:last-child {
                                    border: unset;
                                }
                            }
                        }
                        .post-reply-wrap {
                            display: flex;
                            flex-direction: column;

                            .post-reply {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;

                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 20px;
                                    margin-top: 1rem;
                                }

                                .post-reply {
                                    width: 100%;
                                    padding: 1rem 1.5rem 1rem 1rem;
                                    box-sizing: border-box;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    font-size: 0.9rem;

                                    .post-reply-top {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: center;
                                        width: 100%;
                                        .post-reply-name {
                                            font-weight: bold;
                                        }
                                    }

                                    p {
                                        margin: unset;
                                        margin-top: 0.5rem;

                                        &.post-reply-created {
                                            font-size: 0.85rem;
                                            color: #777;
                                        }
                                    }

                                    .post-reply-actions {
                                        font-size: 0.8rem;
                                        color: #999;

                                        .post-reply-action {
                                            margin-right: 0.3rem;

                                            &:hover {
                                                text-decoration: underline;
                                            }

                                            &:last-child {
                                                margin: unset;
                                            }
                                        }
                                    }
                                }

                                .post-reply-edit-wrap {
                                    border: 0.5px solid #ccc;
                                    border-radius: 0.3rem;
                                    padding: 0.7rem;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;
                                    width: 100%;
                                    margin: 0.3rem 0;

                                    .post-reply-input-content {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        flex-wrap: wrap;
                                        margin-bottom: 0.7rem;

                                        .post-reply-input-name {
                                            font-weight: bold;
                                            font-size: 0.9rem;
                                        }

                                        .post-reply-length {
                                            font-size: 0.8rem;
                                            color: #777;

                                            &.none {
                                                display: none;
                                            }

                                            .toolong {
                                                color: red;
                                                font-weight: bold;
                                            }
                                        }

                                        textarea.post-reply-input {
                                            font-size: 0.9rem;
                                            border: unset;
                                            border-radius: unset;
                                            margin: unset;
                                            width: 100%;
                                            padding: unset;
                                            height: unset;
                                            resize: none;
                                            overflow-wrap: break-word;
                                        }
                                    }

                                    .post-reply-submit {
                                        font-size: 0.9rem;
                                        font-weight: bold;
                                        color: #aaa;
                                        padding: 0.5rem;
                                        border-radius: 0.5rem;
                                        &.active {
                                            background-color: #ddd;
                                            color: #000;
                                        }
                                    }
                                }
                            }

                            .deleted {
                                color: #777;
                                padding-left: 1rem;
                            }

                            &.nested-reply-wrap {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                background-color: #fafafa;

                                .post-nested-reply-icon {
                                    margin: 1.5rem 0 0 1rem;
                                }

                                > .post-reply {
                                    width: 93%;
                                }

                                .post-nested-reply-wrap {
                                    border: 0.5px solid #ccc;
                                    border-radius: 0.3rem;
                                    padding: 0.7rem;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;
                                    width: 90%;

                                    .post-reply-input-content {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        flex-wrap: wrap;
                                        margin-bottom: 0.7rem;

                                        .post-reply-input-name {
                                            font-weight: bold;
                                            font-size: 0.9rem;
                                        }

                                        .post-reply-length {
                                            font-size: 0.8rem;
                                            color: #777;

                                            &.none {
                                                display: none;
                                            }

                                            .toolong {
                                                color: red;
                                                font-weight: bold;
                                            }
                                        }

                                        textarea.post-reply-input {
                                            font-size: 0.9rem;
                                            border: unset;
                                            border-radius: unset;
                                            margin: unset;
                                            width: 100%;
                                            padding: unset;
                                            height: unset;
                                            resize: none;
                                            overflow-wrap: break-word;
                                            background-color: #fafafa;
                                        }
                                    }

                                    .post-reply-submit {
                                        font-size: 0.9rem;
                                        font-weight: bold;
                                        color: #aaa;
                                        padding: 0.5rem;
                                        border-radius: 0.5rem;
                                        &.active {
                                            background-color: #ddd;
                                            color: #000;
                                        }
                                    }
                                }
                            }
                        }
                        .post-nested-reply {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-bottom: 0.3rem;
                            border-bottom: 1px solid #ccc;
                            padding: 0.3rem 0;
                            background-color: #fafafa;

                            .post-nested-reply-icon {
                                margin: 1rem 0 0 1rem;
                            }

                            .post-nested-reply-wrap {
                                border: 0.5px solid #ccc;
                                border-radius: 0.3rem;
                                padding: 0.7rem;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                width: 90%;

                                .post-reply-input-content {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    margin-bottom: 0.7rem;

                                    .post-reply-input-name {
                                        font-weight: bold;
                                        font-size: 0.9rem;
                                    }

                                    .post-reply-length {
                                        font-size: 0.8rem;
                                        color: #777;

                                        &.none {
                                            display: none;
                                        }

                                        .toolong {
                                            color: red;
                                            font-weight: bold;
                                        }
                                    }

                                    textarea.post-reply-input {
                                        font-size: 0.9rem;
                                        border: unset;
                                        border-radius: unset;
                                        margin: unset;
                                        width: 100%;
                                        padding: unset;
                                        height: unset;
                                        resize: none;
                                        overflow-wrap: break-word;
                                        background-color: #fafafa;
                                    }
                                }

                                .post-reply-submit {
                                    font-size: 0.9rem;
                                    font-weight: bold;
                                    color: #aaa;
                                    padding: 0.5rem;
                                    border-radius: 0.5rem;
                                    &.active {
                                        background-color: #ddd;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    /*브라우저 사이즈767px이하일때*/

    div.blog-wrap {
        flex-direction: column;

        .nav-left {
            width: 100%;

            .nav-left-profile {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                padding: 0.8rem;
                margin: unset;
                width: 100%;
                justify-content: space-between;
                border: unset;
                border-bottom: 1px solid #ccc;

                .profile-image {
                    width: 50px;
                    height: 50px;
                    margin: unset;
                    margin-right: 1rem;
                }

                .name-wrap {
                    width: 70%;
                }

                .name {
                    margin-block-start: unset;
                    font-size: 1rem;
                }

                .email {
                    margin-block-end: unset;
                }

                .category-menu {
                    display: block;
                }
            }

            .nav-left-newPost {
                display: none;
            }

            .nav-left-list {
                width: 100%;
                margin-top: unset;
                display: none;
                border-left: unset;
                border-right: unset;
                border-top: unset;

                > div ul {
                    padding: unset;
                    margin: unset;

                    li {
                        width: 100%;
                        border-bottom: 1px solid #ccc;
                        margin: unset;
                        padding: 1rem;
                        box-sizing: border-box;
                        font-size: 1.1rem;

                        &.sub-title {
                            margin: unset;
                            padding-right: 1rem;
                        }

                        &:last-child {
                            border: unset;
                        }
                    }
                }
            }
        }

        .blog-content-wrap {
            width: 100%;
            margin-top: 25px;

            .blog-content {
                .category-title-wrap {
                    a {
                        display: flex;
                        flex-direction: row;
                        align-self: center;
                        padding: 0.5rem;
                        border: 1px solid #aaa;
                        border-radius: 2rem;
                        background-color: #fff;
                    }
                }
                ul.post-list {
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.new-post-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    height: max-content;
    padding: 3rem 0;
    margin-bottom: 60px;

    & > div {
        width: 90%;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: unset;
        }
    }

    .new-post-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        select {
            margin-bottom: 1rem;
            font-size: 1.1rem;
            border: 1px solid #ccc;
            padding: 0.3rem;
            box-sizing: border-box;

            &:first-child {
                margin-right: 1rem;
            }
        }

        input {
            border: unset;
            border-radius: unset;
            padding: unset;
            margin: unset;
            font-size: 1.8rem;
            width: 100%;
        }
    }

    .new-post-content {
        padding: 2rem 0;
        textarea {
            font-size: 1.2rem;
            width: 100%;
            resize: none;
            border: unset;
            height: 60vh;
        }
    }

    .new-post-tags {
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: unset;
        font-size: 0.9rem;

        .new-post-keyword {
            padding: 0.3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #f0f0f0;
            margin-right: 0.3rem;
            border-radius: 0.3rem;
        }

        .new-post-new-tag {
            color: #777;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .new-post-tag-input {
                border: unset;
                padding: unset;
                margin: unset;
                height: unset;
                border-radius: unset;
                font-size: 0.9rem;
                width: 100%;
            }
        }
    }

    .new-post-button-wrap {
        position: fixed;
        width: 100vw;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        height: 70px;
        border-top: 1px solid #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;

        .new-post-button {
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: flex-end;
        }

        button {
            padding: 0.7rem 3rem;
            border-radius: 2rem;
            border: unset;
            background-color: #333;
            color: #fff;
            font-size: 1.1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
