.wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #000, $alpha: 0.8);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;

    .EmailAuth {
        position: relative;
        width: 40%;
        height: 40vh;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 20px;

        .input-wrap {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;

            input {
                height: 5vh;
                margin-top: 1.5vh;
                font-size: 1.1rem;
            }
        }

        .exit-icon {
            position: absolute;
            top: 1vh;
            right: 1vh;
            width: 5vh;
            height: 5vh;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
