.App {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

body {
    margin: unset;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 0 0.5rem;

    &.error {
        border-color: red;
        font-size: 1.1rem;
    }

    &[type="button"] {
        margin-top: 1.5rem;
    }
}

p.disable {
    color: red;
    font-size: 0.8rem;
    margin: unset;
    text-align: left;
}

.content-wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #f4f5f6;
    position: relative;
    min-height: 90vh;

    .content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 10;
        padding: 70px 0;
    }
}
